@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.MenuItem {
  @apply py-2 lg:py-9 relative outline-none;
}

.MenuItem::after {
  content: '';
  @apply w-full h-[5px] bg-transparent absolute left-0 bottom-0 transition-all;
}

@media(max-width: 767px) {
  .MenuItem::after {
    display: none;
  }
}

.MenuItem::after:hover,
.menuActive::after {
  @apply bg-orange;
}

.menuActive {
  @apply !text-orange lg:!text-gray;
}

.MenubarItem {
  @apply font-medium text-gray uppercase tracking-[1.6px];
}

.MenubarItemSub {
  @apply py-[0px] px-8 my-[2px] outline-none transition-all;
}

.MenubarItemSub:hover {
  @apply bg-orange text-white;
}

.MenubarItemSubSub {
  @apply text-sm lg:text-base px-4 lg:px-8 text-white lg:text-gray;
}

.MenubarSubContent {
  @apply ml-[-230px] mt-[26px] lg:ml-0 lg:mt-0
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
