@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.MenuItem {
  @apply py-2 lg:py-9 relative outline-none;
}

.MenuItem::after {
  content: '';
  @apply w-full h-[5px] bg-transparent absolute left-0 bottom-0 transition-all;
}

@media(max-width: 767px) {
  .MenuItem::after {
    display: none;
  }
}

.MenuItem::after:hover,
.menuActive::after {
  @apply bg-orange;
}

.menuActive {
  @apply !text-orange lg:!text-gray;
}

.MenubarItem {
  @apply font-medium text-gray uppercase tracking-[1.6px];
}

.MenubarItemSub {
  @apply py-[0px] px-8 my-[2px] outline-none transition-all;
}

.MenubarItemSub:hover {
  @apply bg-orange text-white;
}

.MenubarItemSubSub {
  @apply text-sm lg:text-base px-4 lg:px-8 text-white lg:text-gray;
}

.MenubarSubContent {
  @apply ml-[-230px] mt-[26px] lg:ml-0 lg:mt-0 flex flex-col
}

.footer-sociais svg {
  @apply transition-all;
}

.footer-sociais a:hover svg {
  @apply fill-orange;
}

.menu-footer a {
  @apply text-white text-[16px] leading-6 lg:leading-6 transition-all block tracking-[1px];
}

.menu-footer a:hover {
  @apply text-orange;
}

.img-about {
  max-width: max-content;
  @apply lg:ml-[-90px] mt-7 lg:mt-0;
}

.max-content {
  max-width: max-content;
}

.slider-about .swiper-slide {
  @apply !h-[355px] overflow-y-auto;
}

/* width */
.slider-about .swiper-slide::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.slider-about .swiper-slide::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.slider-about .swiper-slide::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.slider-about .swiper-slide::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.slider-about .swiper-pagination {
  @apply static mt-8;
}

.slider-about .swiper-pagination-bullet {
  @apply w-[11px] h-[11px] bg-lightGray opacity-100 transition-all;
}

.slider-about .swiper-pagination-bullet-active {
  @apply bg-orange w-[22px] rounded-[6px];
}

.slider-about .swiper-button-prev,
.slider-about .swiper-button-next {
  @apply w-[42px] h-[42px] rounded-full bg-[#F7F6FB] shadow-[0px_3px_6px_#000000B3] hidden lg:flex;
}

.slider-about .swiper-button-prev:after,
.slider-about .swiper-button-next:after {
  @apply text-[25px] text-orange font-bold;
}


/* ***************************************************** */
.swiperProductContainer .swiper {
  @apply w-full h-full;
}

.swiperProductContainer .swiper {
  @apply w-full mx-auto;
}

.swiperProduct {
  @apply w-full;
}

.swiperProductThumb {
  @apply h-[165px] mt-[10px];
}

.swiperProductThumb .swiper-slide {
  @apply w-[25%] h-full opacity-40 cursor-pointer;
}

.swiperProductThumb .swiper-slide-thumb-active {
  @apply opacity-100;
}

.SliderMontagem {
  @apply lg:!px-[80px];
}

.SliderMontagem .swiper-button-prev,
.SliderMontagem .swiper-button-next {
  @apply w-[42px] h-[42px] rounded-full bg-[#F7F6FB] shadow-[0px_3px_6px_#000000B3] hidden lg:flex;
}

.SliderMontagem .swiper-button-prev:after,
.SliderMontagem .swiper-button-next:after {
  @apply text-[25px] text-orange font-bold;
}

.SliderMontagem .swiper-pagination {
  @apply static mt-4;
}

.SliderMontagem .swiper-pagination-bullet {
  @apply w-[11px] h-[11px] bg-lightGray opacity-100 transition-all;
}

.SliderMontagem .swiper-pagination-bullet-active {
  @apply bg-orange w-[22px] rounded-[6px];
}

#mapBrasil {
  display: none;
}

#mapBrasil .state {
  cursor: pointer;
}

#mapBrasil .state .shape {
  cursor: pointer;
  -width: 0;
}

#mapBrasil .state .label_icon_state {
  fill: #484848;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
}

#mapBrasil .state .label_state {
    display: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

#mapBrasil .state:hover .label_state,
#mapBrasil .state.hover .label_state {
    display: block;
}

#mapBrasil .model-green .state .shape {
    fill: #dfdfe7;
}

#mapBrasil .model-green .state .icon_state {
    fill: #a8a8a8;
}

#mapBrasil .model-green .state .label_icon_state {
    fill: #484848;
}

#mapBrasil .model-green .state .label_state {
    fill: #666;
}

#mapBrasil .model-green .state:hover .shape,
#mapBrasil .model-green .state.hover .shape {
    fill: #fc4c02;
}

#mapBrasil .model-green .state:hover .icon_state,
#mapBrasil .model-green .state.hover .icon_state {
    fill: #fc4c02;
}

#mapBrasil .model-orange .state .shape {
    fill: #fd7132;
}

#mapBrasil .model-orange .state .icon_state {
    fill: #6cb361;
}

#mapBrasil .model-orange .state .label_icon_state {
    fill: #fff;
}

#mapBrasil .model-orange .state .label_state {
    fill: #666;
}

#mapBrasil .model-orange .state:hover .shape,
#mapBrasil .model-orange .state.hover .shape {
    fill: #c93f04;
}

#mapBrasil .model-orange .state:hover .icon_state,
#mapBrasil .model-orange .state.hover .icon_state {
    fill: #10592f;
}

#mapBrasil .model-darkgreen .state .shape {
    fill: #366823;
}

#mapBrasil .model-darkgreen .state .icon_state {
    fill: #2779c6;
}

#mapBrasil .model-darkgreen .state .label_icon_state {
    fill: #fff;
}

#mapBrasil .model-darkgreen .state .label_state {
    fill: #666;
}

#mapBrasil .model-darkgreen .state:hover .shape,
#mapBrasil .model-darkgreen .state.hover .shape {
    fill: #4a8c31;
}

#mapBrasil .model-darkgreen .state:hover .icon_state,
#mapBrasil .model-darkgreen .state.hover .icon_state {
    fill: #5a95ce;
}

.classSvg {
  max-width: 55px;
  max-height: 60px;
}

.subOrigi {
  max-width: 45px;
}

.travaEle {
  max-height: 45px;
}

.desligaRad {
  max-height: 70px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
